/*=============== GOOGLE FONTS ===============*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");

/*=============== VARIABLES CSS ===============*/
:root {
    --header-height: 3.5rem;
    /*========== Colors ==========*/
    /* Color mode HSL(hue, saturation, lightness) */
    --first-color: hsl(220, 68%, 54%);
    --first-color-lighten: hsl(220, 68%, 97%);
    --title-color: hsl(220, 48%, 28%);
    --text-color: hsl(220, 12%, 45%);
    --body-color: hsl(230, 100%, 96%);
    --hover-color: hsl(220, 68%, 54%);
    --highlight-color: hsl(220, 68%, 54%);
    --cart-bg: hsl(229, 94%, 93%);
    --btn-color: hsl(220, 68%, 54%);
    --error-color: #dc3545;
    --nav-color: hsl(230, 100%, 96%);

    --shadow--: 0 2px 8px hsla(220, 68%, 12%, 0.1);
    /*========== Font and typography ==========*/
    /* .5rem = 8px | 1rem = 16px ... */
    --body-font: "Poppins", sans-serif;
    --home-font:
        --normal-font-size: 0.938rem;
    --small-font-size: 0.813rem;
    --smaller-font-size: 0.75rem;
    /*========== Font weight ==========*/
    --font-medium: 500;
    --font-semi-bold: 600;
    /*========== z index ==========*/
    --z-tooltip: 10;
    --z-fixed: 100;
}

/* ====== THEME 1 ======= */
.dark {
    --header-height: 3.5rem;
    /*========== Colors ==========*/
    --first-color: hsl(220, 71%, 51%);
    --first-color-lighten: #424242;
    --title-color: #ffffff;
    --text-color: hsl(220, 68%, 54%);
    --body-color: #141414;
    --accent-color: #7F5AF0;
    --hover-color: hsl(220, 100%, 84%);
    --shadow--: 0 2px 8px hsla(221, 25%, 25%, 0.1);
    --highlight-color: white;
    --cart-bg: #1b1b1b79;
    --btn-color: hsl(220, 71%, 51%);
    --error-color: #dc3545;
    --nav-color: #1414149e;


}




@media screen and (min-width: 1024px) {
    :root {
        --normal-font-size: 1rem;
        --small-font-size: .875rem;
        --smaller-font-size: .813rem;
    }
}

/*=============== BASE ===============*/
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
    background-color: var(--body-color);
    color: var(--text-color);
}

/* ====== IF ARABIC ======*/
.rtl-text {
    direction: rtl;
}

/* error validation */
.error-input {
    border-color: red;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

/*=============== REUSABLE CSS CLASSES ===============*/
.container {
    max-width: 1120px;
    /* margin-inline: 5rem; */
}

/*=============== HEADER ===============*/
.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: var(--nav-color);
    z-index: var(--z-fixed);
    transition: 0.5s;
}

.scroll-header {
    box-shadow: var(--shadow--);

}

/*=============== NAV ===============*/
.nav {
    height: var(--header-height);
}

.nav__data {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav__logo {
    display: inline-flex;
    align-items: center;
    column-gap: 0.25rem;
    color: var(--title-color);
    font-weight: var(--font-semi-bold);
    transition: color 0.3s;
}

.nav__logo i {
    font-size: 1.25rem;
}

.nav__logo:hover {
    color: var(--hover-color);
}

.nav__toggle {
    position: relative;
    width: 32px;
    height: 32px;
}

.nav__toggle-menu,
.nav__toggle-close {
    font-size: 1.25rem;
    color: var(--title-color);
    position: absolute;
    display: grid;
    place-items: center;
    inset: 0;
    cursor: pointer;
    transition: opacity 0.1s, transform 0.4s;
}

.nav__toggle-close {
    opacity: 0;
}

@media screen and (max-width: 1118px) {
    .nav__menu {
        background-color: var(--body-color);
        position: absolute;
        left: 0;
        top: 2.5rem;
        width: 100%;
        height: calc(100vh - 3.5rem);
        overflow: auto;
        padding-block: 1.5rem 4rem;
        pointer-events: none;
        opacity: 0;
        transition: top 0.4s, opacity 0.3s;
    }

    .nav__menu::-webkit-scrollbar {
        width: 0.5rem;
    }

    .nav__menu::-webkit-scrollbar-thumb {
        background-color: hsl(220, 12%, 70%);
    }
}

.nav__link {
    color: var(--title-color);
    font-weight: var(--font-semi-bold);
    padding: 1.25rem 1.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: background-color 0.3s;
}

.nav__link:hover {
    background-color: var(--first-color-lighten);
}

/* Show menu */
.show-menu {
    opacity: 1;
    top: 3.5rem;
    pointer-events: initial;
}

/* Show icon */
.show-icon .nav__toggle-menu {
    opacity: 0;
    transform: rotate(90deg);
}

.show-icon .nav__toggle-close {
    opacity: 1;
    transform: rotate(90deg);
}

/*=============== DROPDOWN ===============*/
.dropdown__button {
    cursor: pointer;
}

.register {
    color: var(--title-color);
    font-weight: var(--font-semi-bold);
    transition: background-color 0.3s;
}

.dropdown__arrow {
    font-size: 1.5rem;
    font-weight: initial;
    transition: transform 0.4s;
}

.dropdown__content,
.dropdown__group,
.dropdown__list {
    display: grid;
}

.dropdown__container {
    background-color: var(--first-color-lighten);
    height: 0;
    overflow: hidden;
    transition: height 0.4s;
}

.dropdown__content {
    row-gap: 1.75rem;
    padding-right: 20px;
}

.dropdown__group {
    padding-left: 2.5rem;
    row-gap: 0.5rem;
}

.dropdown__group:first-child {
    margin-top: 1.25rem;
}

.dropdown__group:last-child {
    margin-bottom: 1.25rem;
}

.dropdown__icon i {
    font-size: 1.25rem;
    color: var(--first-color);
}

.dropdown__title {
    font-size: var(--small-font-size);
    font-weight: var(--font-semi-bold);
    color: var(--title-color);
}

.dropdown__list {
    row-gap: 0.25rem;
}

.dropdown__link {
    font-size: var(--smaller-font-size);
    font-weight: var(--font-medium);
    color: var(--text-color);
    transition: color 0.3s;
}

.dropdown__link:hover {
    color: var(--hover-color);
}

/* Rotate dropdown icon */
.show-dropdown .dropdown__arrow {
    transform: rotate(180deg);
}

/*=============== BREAKPOINTS ===============*/
/* For small devices */
@media screen and (max-width: 300px) {
    .dropdown__group {
        padding-left: 1.5rem;
    }
}

/* For large devices */
@media screen and (min-width: 1118px) {

    /* Nav */
    .nav {
        height: calc(var(--header-height) + 2rem);
        display: flex;
        justify-content: space-around;
    }

    .nav__toggle {
        display: none;
    }

    .nav__list {
        display: flex;
        column-gap: 2.5rem;
        height: 100%;
    }

    .nav li {
        display: flex;
    }

    .nav__link {
        padding: 0;
    }

    .nav__link:hover {
        background-color: initial;
    }

    /* Dropdown */
    .dropdown__button {
        column-gap: 0.25rem;
        pointer-events: none;
    }

    .dropdown__container {
        height: max-content;
        position: absolute;
        left: 0;
        right: 0;
        top: 6.5rem;
        background-color: var(--body-color);
        box-shadow: var(--shadow--);
        pointer-events: none;
        opacity: 0;
        transition: top 0.4s, opacity 0.3s;
    }


    .dropdown__content {
        grid-template-columns: repeat(4, max-content);
        column-gap: 6rem;
        max-width: 1120px;
        margin-inline: auto;
    }

    .dropdown__group {
        padding: 4rem 0;
        align-content: baseline;
        row-gap: 1.25rem;
    }

    .dropdown__group:first-child,
    .dropdown__group:last-child {
        margin: 0;
    }

    .dropdown__list {
        row-gap: 0.75rem;
    }

    .dropdown__icon {
        width: 60px;
        height: 60px;
        background-color: var(--first-color-lighten);
        border-radius: 50%;
        display: grid;
        place-items: center;
        margin-bottom: 1rem;
    }

    .dropdown__icon i {
        font-size: 2rem;
    }

    .dropdown__title {
        font-size: var(--normal-font-size);
    }

    .dropdown__link {
        font-size: var(--small-font-size);
    }

    .dropdown__link:hover {
        color: var(--hover-color);
    }

    .dropdown__item {
        cursor: pointer;
    }

    .dropdown__item:hover .dropdown__arrow {
        transform: rotate(180deg);
    }

    .dropdown__item:hover>.dropdown__container {
        top: 4.5rem;
        opacity: 1;
        pointer-events: initial;
        cursor: initial;
    }
}

::-webkit-scrollbar {
    width: .6rem;
    border-radius: .5rem;
    background-color: hsl(230, 16%, 85%);
}

::-webkit-scrollbar-thumb {
    border-radius: .5rem;
    background-color: hsl(230, 16%, 65%);
}

::-webkit-scrollbar-thumb:hover {
    background-color: hsl(230, 16%, 55%);
}

@media screen and (min-width: 1152px) {
    .container {
        margin-inline: auto;
    }
}

@media (max-width:767px) {

    .login_modal {
        margin-top: 200px;
    }

}

@media (max-width:1300px) {

    .nav__data {
        width: 90%;
        height: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

}


/* footer */



.site-footer {
    background-color: #26272b;
    padding: 45px 0 20px;
    font-size: 15px;
    line-height: 24px;
    color: #737373;
}

.site-footer hr {
    border-top-color: #bbb;
    opacity: 0.5
}

.site-footer hr.small {
    margin: 20px 0
}

.site-footer h6 {
    color: #fff;
    font-size: 16px;
    text-transform: uppercase;
    margin-top: 5px;
    letter-spacing: 2px
}

.site-footer a {
    color: #737373;
}

.site-footer a:hover {
    color: #3366cc;
    text-decoration: none;
}

.footer-links {
    padding-left: 0;
    list-style: none
}

.footer-links li {
    display: block
}

.footer-links a {
    color: #737373
}

.footer-links a:active,
.footer-links a:focus,
.footer-links a:hover {
    color: #3366cc;
    text-decoration: none;
}

.footer-links.inline li {
    display: inline-block
}

.site-footer .social-icons {
    text-align: right
}

.site-footer .social-icons a {
    width: 40px;
    height: 40px;
    line-height: 40px;
    margin-left: 6px;
    margin-right: 0;
    border-radius: 100%;
    background-color: #33353d
}

.copyright-text {
    margin: 0
}

@media (max-width:991px) {
    .site-footer [class^=col-] {
        margin-bottom: 30px
    }
}

/* @media (max-width:767px) {
    .site-footer {
        padding-bottom: 0
    }

    .site-footer .copyright-text,
    .site-footer .social-icons {
        text-align: center
    }
} */

.social-icons {
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
    margin-right: 10px;
    margin-bottom: 50px;

}

.social-icons li {
    display: inline-block;
    margin-bottom: 4px
}

.social-icons li.title {
    margin-right: 15px;
    text-transform: uppercase;
    color: #96a2b2;
    font-weight: 700;
    font-size: 13px
}

.social-icons a {
    background-color: #eceeef;
    color: #818a91;
    font-size: 16px;
    display: inline-block;
    line-height: 44px;
    width: 44px;
    height: 44px;
    text-align: center;
    margin-right: 8px;
    border-radius: 100%;
    -webkit-transition: all .2s linear;
    -o-transition: all .2s linear;
    transition: all .2s linear
}

.social-icons a:active,
.social-icons a:focus,
.social-icons a:hover {
    color: #fff;
    background-color: #29aafe
}

.social-icons.size-sm a {
    line-height: 34px;
    height: 34px;
    width: 34px;
    font-size: 14px
}

.social-icons a.facebook:hover {
    background-color: #3b5998
}

.social-icons a.twitter:hover {
    background-color: #000000
}

.social-icons a.linkedin:hover {
    background-color: #007bb6
}

.social-icons a.dribbble:hover {
    background-color: #ea4c89
}

@media (max-width:767px) {
    .social-icons li.title {
        display: block;
        margin-right: 0;
        font-weight: 600
    }

    .social-icons {
        padding-left: 0;
        margin-bottom: 0;
        list-style: none;
        margin-right: 10px;
    }

    .site-footer .social-icons {
        text-align: center;
    }

    .copyright-text {
        text-align: center;
    }
}

/* all error messages */

.error-message {
    color: red;
    padding-top: 3px;
    font-size: 14px;
    font-weight: 500;
}


/* profile dropdown */
.dropdown:focus-within .dropdown-menu {
    opacity: 1;
    transform: translate(0) scale(1);
    visibility: visible;
}



/* ===== lang menu ====== */

.language-selector {
    position: relative;
}

.lang-menu {
    display: flex;
    align-items: center;
    cursor: pointer;
}


.lang-options {
    position: absolute;
    top: 70px;
    left: 0;
    background: var(--first-color-lighten);
    border: transparent;
    border-radius: 5px;
    list-style: none;
    padding: 0;
    margin: 0;
    display: none;
}

.lang-options li {
    padding: 10px;
    text-align: center;
}

.lang-options a {
    text-decoration: none;
    color: var(--first-color);
    display: block;
}

.language-selector.active .lang-options {
    display: block;
}
